/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&family=Playfair+Display:ital,wght@0,600;0,700;1,500;1,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 10px;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.hero {
  font-family: Montserrat, sans-serif;
  width: 100%;
  height: 100vh;
  background-image: url("../img/h1-sl1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero header {
  width: 100%;
  height: 22vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero header .logo {
  background-color: white;
  height: 22vh;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero nav {
  width: 60%;
  height: 22vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero nav ul {
  width: 60%;
  height: 22vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hero nav ul li {
  cursor: pointer;
  position: relative;
}

.hero nav ul li:hover {
  color: #BAA08F;
}

.hero nav ul li a {
  color: white;
  font-size: 1.2rem;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.hero .spans {
  width: 20%;
  height: 22vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hero .spans .icon {
  width: 40%;
  height: 22vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 1rem;
}

.hero .spans .icon i {
  font-size: 2.2rem;
  color: white;
  cursor: pointer;
}

.hero .spans .right {
  width: 60%;
  height: 22vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #BAA08F;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.hero .spans .right:hover .second {
  width: 34px;
}

.hero .spans .right .spn {
  position: relative;
  left: 3rem;
  width: 34px;
  height: 2px;
  background: #fff;
  margin: 6px 0 0;
}

.hero .spans .right .second {
  width: 21px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.slider {
  width: 100%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.slider p {
  color: white;
  font-size: 4rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  margin-left: 6rem;
  position: absolute;
  line-height: 5rem;
}

.slider .left {
  margin-left: 2rem;
  width: 22%;
  height: 75vh;
  border: 5px solid #BAA08F;
}

.slider .left h1 {
  text-transform: uppercase;
  color: #BAA08F;
  text-align: center;
  font-weight: 600;
  margin-top: 3rem;
}

.slider .right {
  margin-right: 3rem;
  width: 5%;
  height: 22vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.slider .right i {
  color: #fff;
}

.slider .right .lft {
  background-color: #BAA08F;
  height: 49%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .right .rght {
  background-color: #BAA08F;
  width: 100%;
  height: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.solution {
  width: 100%;
  height: 120vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.solution .left-right {
  width: 90%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.solution .left-right .left-side {
  width: 44%;
  height: 90vh;
  background-image: url("../img/about.png");
  background-position: center;
  background-size: cover;
}

.solution .left-right .right-side {
  width: 46%;
  height: 90vh;
}

.solution .left-right .right-side h1 {
  font-size: 2.4rem;
  color: black;
  font-weight: 700;
  font-family: "Playfair Display", Sans-serif;
  line-height: 2.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.solution .left-right .right-side p {
  opacity: .8;
  font-size: 1.1rem;
  line-height: 1.8rem;
  font-family: Montserrat, sans-serif;
  margin-top: 1rem;
}

.solution .left-right .right-side .sbmt2 {
  padding: 12px 14px;
  margin-top: 1rem;
}

.solution .left-right .right-side .span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 2rem;
}

.solution .left-right .right-side .span span {
  font-size: 3.7rem;
  border: 4px solid #baa08f;
  padding: 17px 30px 40px 30px;
  color: #333333;
  font-family: "Playfair Display", Sans-serif;
}

.solution .left-right .right-side .span h2 {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 600;
  margin-left: 1rem;
  color: #333333;
}

.success {
  width: 100%;
  height: 100vh;
  background-image: url("../img/counter-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.success .success-top {
  width: 100%;
  height: 44vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.success .success-top h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 4rem;
  font-family: "Playfair Display", Sans-serif;
}

.success .success-top p {
  line-height: 2rem;
  font-size: 1.1rem;
  font-family: Montserrat, sans-serif;
}

.success .success-bottom {
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.success .success-bottom .sc-all-items {
  width: 90%;
  height: 36vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.success .success-bottom .sc-all-items .sc-item1 {
  width: 23%;
  height: 36vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #232323;
  opacity: .6;
}

.success .success-bottom .sc-all-items .sc-item1 h1 {
  color: #BAA08F;
  font-size: 3rem;
  font-family: "Playfair Display", Sans-serif;
}

.success .success-bottom .sc-all-items p {
  font-size: 1.5rem;
  margin-top: 1.1rem;
  color: white;
  font-family: Montserrat, sans-serif;
}

.features {
  font-family: Montserrat,sans-serif;
  width: 100%;
  height: 145vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #FFFFFF;
}

.features .top {
  width: 100%;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features .top h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2.7rem;
  font-weight: 600;
  margin-bottom: 1rem;
  opacity: .8;
}

.features .top p {
  line-height: 1.9rem;
  font-size: 1.1rem;
  opacity: .7;
}

.features .bottom {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features .bottom .bottom-divs {
  width: 91%;
  height: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features .bottom .bottom-divs .item {
  width: 30%;
  height: 42vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 35px 10px;
  margin-bottom: 1.3rem;
  -webkit-box-shadow: 0px 0px 40px 0px #eee;
          box-shadow: 0px 0px 40px 0px #eee;
}

.features .bottom .bottom-divs .item .service-icon {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features .bottom .bottom-divs .item .service-icon img {
  background-color: white;
}

.features .bottom .bottom-divs .service-text {
  width: 80%;
  height: 100%;
}

.features .bottom .bottom-divs .service-text h1 {
  color: #333333;
  font-size: 2rem;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 1.2rem;
  font-weight: 600;
}

.features .bottom .bottom-divs .service-text p {
  color: black;
  font-size: 1rem;
  line-height: 1.8rem;
}

.features .bottom .bottom-divs .service-text .btn {
  margin-top: 1.4rem;
}

.features .bottom .bottom-divs .service-text .btn a {
  color: black;
  font-weight: 600;
}

.btn {
  position: relative;
}

.btn .more {
  padding-left: 3rem;
}

.btn .more::before {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  background: #baa08f;
  width: 40px;
  height: 1px;
  display: block;
}

.projects {
  width: 100%;
  height: 120vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-items: center;
}

.projects .center {
  width: 70%;
  height: 85%;
  background-image: url("../img/blog3.jpg");
  background-position: center;
  background-size: cover;
}

.projects .blog-text {
  position: absolute;
  background-color: #F9F9F9;
  width: 550px;
  height: 400px;
  bottom: 0;
  right: 5rem;
  padding: 33px 40px;
}

.projects .blog-text h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  font-family: "Playfair Display", Sans-serif;
}

.projects .blog-text p {
  line-height: 2rem;
  font-size: 1.1rem;
  font-family: Montserrat, sans-serif;
  opacity: .7;
}

.projects .bottom-icons {
  width: 140px;
  height: 53px;
  position: absolute;
  bottom: 0;
  right: 39.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .bottom-icons .brown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 53px;
  background-color: #333333;
  cursor: pointer;
}

.projects .bottom-icons .orange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 53px;
  background-color: #BAA08F;
  cursor: pointer;
}

.projects .bottom-icons i {
  color: white;
  font-size: 1.7rem;
}

.trans {
  width: 100%;
  height: 134vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trans .trans-top {
  width: 100%;
  height: 44vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.trans .trans-top h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 4rem;
  color: #333333;
  font-family: "Playfair Display", Sans-serif;
}

.trans .trans-top p {
  line-height: 2rem;
  font-size: 1.1rem;
  font-family: Montserrat, sans-serif;
}

.trans .trans-bottom {
  width: 100%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.trans .trans-bottom .trans-all {
  width: 90%;
  height: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: blue;
}

.trans .trans-bottom .trans-all .img-left {
  width: 50%;
  height: 460px;
  background-color: beige;
  background-image: url("../img/before.jpg");
  background-position: left;
  background-size: cover;
  position: relative;
}

.trans .trans-bottom .trans-all .img-left span {
  width: 90px;
  height: 30px;
  position: absolute;
  color: white;
  font-size: 1.1rem;
  background-color: black;
  text-align: center;
  line-height: 30px;
  bottom: 1rem;
  left: 1rem;
  font-family: Montserrat, sans-serif;
}

.trans .trans-bottom .trans-all .img-right {
  width: 50%;
  height: 460px;
  background-color: cadetblue;
  background-image: url("../img/after.jpg");
  background-position: right;
  background-size: cover;
  position: relative;
}

.trans .trans-bottom .trans-all .img-right span {
  width: 90px;
  height: 30px;
  position: absolute;
  color: white;
  font-size: 1.1rem;
  background-color: black;
  text-align: center;
  line-height: 30px;
  bottom: 1rem;
  right: 1rem;
  font-family: Montserrat, sans-serif;
}

.test {
  width: 100%;
  height: 100vh;
  background-image: url("../img/testim.png");
  background-position: cover;
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.test .test-top {
  width: 70%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.test .test-top h1 {
  font-size: 3.2rem;
  font-family: "Playfair Display", Sans-serif;
  color: #333333;
  margin-bottom: 2rem;
}

.test .test-top p {
  text-align: center;
  font-family: Montserrat,sans-serif;
  font-size: 1.5rem;
  line-height: 3rem;
  font-style: italic;
  opacity: .7;
}

.test .test-bottom {
  width: 270px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.test .test-bottom .left-image {
  width: 90px;
  height: 80px;
}

.test .test-bottom .left-image img {
  border-radius: 50%;
}

.test .test-bottom .right-text {
  width: 180px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.test .test-bottom .right-text h1 {
  font-family: Montserrat,sans-serif;
  font-weight: bold;
}

.test .test-bottom .right-text p {
  font-family: Montserrat,sans-serif;
  font-size: 1rem;
  opacity: .8;
}

.work-process {
  width: 100%;
  height: 124vh;
  background-image: url("../img/process-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-process .process-top {
  width: 100%;
  height: 44vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.work-process .process-top h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 4rem;
  font-family: "Playfair Display", Sans-serif;
}

.work-process .process-top p {
  line-height: 2rem;
  font-size: 1.1rem;
  font-family: Montserrat, sans-serif;
}

.work-process .process-bottom {
  width: 100%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work-process .process-bottom .process-all-items {
  width: 90%;
  height: 55vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work-process .process-bottom .process-all-items .process-item1 {
  width: 23%;
  height: 55vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #232323;
}

.work-process .process-bottom .process-all-items .process-item1 img {
  margin-bottom: 1rem;
}

.work-process .process-bottom .process-all-items .process-item1 h1 {
  color: white;
  font-size: 1.8rem;
  font-family: "Playfair Display", Sans-serif;
}

.work-process .process-bottom .process-all-items .process-item1 p {
  font-size: 1rem;
  margin-top: 1.1rem;
  color: white;
  font-family: Montserrat, sans-serif;
  text-align: center;
  line-height: 1.8rem;
}

.experts {
  width: 100%;
  height: 134vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../img/testim.png");
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.experts .expert-top {
  width: 100%;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.experts .expert-top h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 4rem;
  color: #333333;
  font-family: "Playfair Display", Sans-serif;
}

.experts .expert-top p {
  line-height: 2rem;
  font-size: 1.1rem;
  font-family: Montserrat, sans-serif;
}

.experts .expert-bottom {
  width: 100%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.experts .expert-bottom .all-experts {
  width: 84%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.experts .expert-bottom .all-experts .expert {
  width: 320px;
  height: 380px;
  cursor: pointer;
  position: relative;
  border-radius: 4px;
  z-index: 3478;
}

.experts .expert-bottom .all-experts .expert:hover .black {
  opacity: 1;
}

.experts .expert-bottom .all-experts .expert .black {
  background-color: #1B1B1B;
  width: 320px;
  height: 380px;
  position: absolute;
  top: 52px;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  left: 44px;
  border-radius: 4px;
  opacity: 0;
  z-index: -1;
}

.experts .expert-bottom .all-experts .expert .black .icons {
  width: 50px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 0;
  top: 20px;
}

.experts .expert-bottom .all-experts .expert .black .icons i {
  color: white;
  font-size: 1.1rem;
}

.experts .expert-bottom .all-experts .expert .black .name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 190px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.experts .expert-bottom .all-experts .expert .black .name h1 {
  color: white;
  font-weight: 700;
  font-family: "Playfair Display", Sans-serif;
  font-size: 1.4rem;
  text-align: center;
}

.experts .expert-bottom .all-experts .expert .active {
  opacity: 1;
}

.news {
  width: 100%;
  height: 144vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news .news-top {
  width: 100%;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news .news-top h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 4rem;
  color: #333333;
  font-family: "Playfair Display", Sans-serif;
}

.news .news-top p {
  line-height: 2rem;
  font-size: 1.1rem;
  font-family: Montserrat, sans-serif;
}

.news .news-bottom {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news .news-bottom .news {
  width: 91%;
  height: 83vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.news .news-bottom .news .news1 {
  width: 31%;
  height: 83vh;
  position: relative;
  background-color: white;
  color: #1B1B1B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 20px;
  -webkit-box-shadow: 0 5px 20px #eee;
          box-shadow: 0 5px 20px #eee;
}

.news .news-bottom .news .news1 h1 {
  font-size: 1.6rem;
  font-family: "Playfair Display", Sans-serif;
  line-height: 2.2rem;
}

.news .news-bottom .news .news1 p {
  line-height: 2rem;
  font-size: 1.1rem;
  font-family: Montserrat, sans-serif;
  margin-top: 1rem;
  opacity: .8;
}

.news .news-bottom .news .news1 .in {
  width: 100%;
  height: 83vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.5))), url("../img/news2.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../img/news2.jpg");
  background-position: center;
  color: white;
  background-size: cover;
  position: absolute;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  top: 0;
  left: 0;
  opacity: 0;
  padding: 15px 20px;
  -webkit-box-shadow: 0 5px 20px #eee;
          box-shadow: 0 5px 20px #eee;
}

.news .news-bottom .news .news1 .in:hover {
  opacity: 1;
}

.news .news-bottom .news .news2 {
  width: 31%;
  height: 83vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 20px;
  -webkit-box-shadow: 0 5px 20px #eee;
          box-shadow: 0 5px 20px #eee;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.5))), url("../img/news1.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../img/news1.jpg");
  background-position: center;
  color: white;
  background-size: cover;
}

.news .news-bottom .news .news2 h1 {
  font-size: 1.6rem;
  font-family: "Playfair Display", Sans-serif;
  line-height: 2.2rem;
}

.news .news-bottom .news .news2 p {
  line-height: 2rem;
  font-size: 1.1rem;
  font-family: Montserrat, sans-serif;
  margin-top: 1rem;
  opacity: .8;
}

.news .news-bottom .news .news3 {
  width: 31%;
  height: 83vh;
  position: relative;
  background-color: white;
  color: #1B1B1B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 20px;
  -webkit-box-shadow: 0 5px 20px #eee;
          box-shadow: 0 5px 20px #eee;
}

.news .news-bottom .news .news3 h1 {
  font-size: 1.6rem;
  font-family: "Playfair Display", Sans-serif;
  line-height: 2.2rem;
}

.news .news-bottom .news .news3 p {
  line-height: 2rem;
  font-size: 1.1rem;
  font-family: Montserrat, sans-serif;
  margin-top: 1rem;
  opacity: .8;
}

.news .news-bottom .news .news3 .in {
  width: 100%;
  height: 83vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.5))), url("../img/news3.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../img/news3.jpg");
  background-position: center;
  color: white;
  background-size: cover;
  position: absolute;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  top: 0;
  left: 0;
  opacity: 0;
  padding: 15px 20px;
  -webkit-box-shadow: 0 5px 20px #eee;
          box-shadow: 0 5px 20px #eee;
}

.news .news-bottom .news .news3 .in:hover {
  opacity: 1;
}

.partners {
  width: 100%;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partners .all-partners {
  width: 92%;
  height: 28vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.partners .all-partners .item {
  height: 40px;
  width: 180px;
}

.touch {
  width: 100%;
  height: 150vh;
  background-image: url("../img/map-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.touch .touch-top {
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-items: center;
}

.touch .touch-top h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-family: "Playfair Display", Sans-serif;
}

.touch .touch-top p {
  line-height: 2rem;
  font-size: 1.1rem;
  font-family: Montserrat, sans-serif;
}

.touch .all {
  width: 90%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.touch .all .touch-left {
  width: 550px;
  height: 500px;
}

.touch .all .touch-right {
  width: 45%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.touch .all .touch-right input {
  width: 45%;
  height: 3.3rem;
  padding-left: 1rem;
  font-size: 1rem;
  font-family: Montserrat, sans-serif;
  border: none;
  -webkit-box-shadow: 0 0px 50px 0px #eee;
          box-shadow: 0 0px 50px 0px #eee;
  border-radius: 2px;
}

.touch .all .touch-right textarea {
  width: 100%;
  height: 200px;
  border: none;
  -webkit-box-shadow: 0 0px 50px 0px #eee;
          box-shadow: 0 0px 50px 0px #eee;
  font-size: 1rem;
  font-family: Montserrat, sans-serif;
  padding: 1rem 0  0 1rem;
}

.footer {
  width: 100%;
  height: 80vh;
  background-image: url("../img/footer-bg.jpg");
  background-position: left;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-top {
  width: 100%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-top .all-itemf {
  width: 90%;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .footer-top .all-itemf .footer-item {
  width: 24%;
  height: 40vh;
}

.footer .footer-top .all-itemf .one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer-top .all-itemf .one img {
  color: white;
}

.footer .footer-top .all-itemf .one .icns {
  margin-top: 2rem;
}

.footer .footer-top .all-itemf .one .icns i {
  color: white;
  font-size: 1.2rem;
  margin-right: 1.7rem;
}

.footer .footer-top .all-itemf .two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.footer .footer-top .all-itemf .two i {
  color: #BAA08F;
  font-size: 1.4rem;
}

.footer .footer-top .all-itemf .two h1 {
  font-size: 1.7rem;
  font-family: "Playfair Display", Sans-serif;
  color: white;
  margin-bottom: 2rem;
}

.footer .footer-top .all-itemf .two .first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer .footer-top .all-itemf .two .first p {
  line-height: 1.7rem;
  color: white;
  font-family: Montserrat, sans-serif;
  margin-left: 1rem;
}

.footer .footer-top .all-itemf .two .second, .footer .footer-top .all-itemf .two .third {
  margin-top: 1.7rem;
}

.footer .footer-top .all-itemf .two .second a, .footer .footer-top .all-itemf .two .third a {
  color: white;
  font-size: 1.2rem;
  margin-left: .8rem;
}

.footer .footer-top .all-itemf .three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer-top .all-itemf .three .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer-top .all-itemf .three .text h1 {
  font-size: 1.7rem;
  font-family: "Playfair Display", Sans-serif;
  color: white;
}

.footer .footer-top .all-itemf .three .text a {
  font-size: 1rem;
  color: white;
  margin-top: 1.7rem;
  font-family: Montserrat, sans-serif;
}

.footer .footer-top .all-itemf .four h1 {
  font-size: 1.7rem;
  font-family: "Playfair Display", Sans-serif;
  position: relative;
  color: white;
}

.footer .footer-top .all-itemf .four input {
  width: 60%;
  height: 31px;
  padding: 10px;
  outline: none;
  border: 2px solid #333333;
  margin-top: 2rem;
  background-color: transparent;
  color: white;
  font-family: Montserrat, sans-serif;
}

.footer .footer-top .all-itemf .four button {
  background-color: #BAA08F;
  position: relative;
  right: 2rem;
  top: 0;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer .footer-top .all-itemf .four button:hover {
  background-color: #555555;
}

.footer .footer-top .all-itemf .four button i {
  font-size: 1rem;
  width: 48px;
  height: 54px;
  line-height: 53px;
  text-align: center;
  color: white;
}

.footer .footer-bottom {
  width: 100%;
  height: 14vh;
  position: relative;
  border-top: 1px solid #afacac;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer-bottom h1 {
  color: white;
  font-family: Montserrat, sans-serif;
  font-size: 1.1rem;
}

.footer .footer-bottom a {
  position: absolute;
}

.footer .footer-bottom a i {
  font-size: 1.2rem;
  width: 42px;
  height: 39px;
  border-radius: 50%;
  background-color: #BAA08F;
  right: 10px;
  bottom: 10px;
  line-height: 39px;
  text-align: center;
  color: white;
  cursor: pointer;
  position: fixed;
}

.submit {
  border: none;
  color: black;
  font-size: 1.2rem;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  background-color: transparent;
  font-weight: 700;
  position: relative;
}

.submit::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: 0;
  height: 0;
  background: transparent;
  border: 3px solid transparent;
}

.submit:hover::before {
  /* animation: animate 1s linear forwards; */
  -webkit-animation-name: animate;
          animation-name: animate;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.submit:hover::after {
  /* animation: animate2 1s linear forwards; */
  -webkit-animation-name: animate2;
          animation-name: animate2;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes animate {
  0% {
    width: 0;
    height: 0;
    border-top-color: black;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    width: 100%;
    height: 0;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}

@keyframes animate {
  0% {
    width: 0;
    height: 0;
    border-top-color: black;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    width: 100%;
    height: 0;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}

.submit::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 0;
  height: 0;
  background: transparent;
  border: 3px solid transparent;
}

@-webkit-keyframes animate2 {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: black;
  }
  50% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: black;
    border-left-color: black;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: black;
    border-left-color: black;
  }
}

@keyframes animate2 {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: black;
  }
  50% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: black;
    border-left-color: black;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: black;
    border-left-color: black;
  }
}
/*# sourceMappingURL=style.css.map */